0:
  up:
    - KB_UP
    - KB_W
  down:
    - KB_DOWN
    - KB_S
  left:
    - KB_LEFT
    - KB_A
  right:
    - KB_RIGHT
    - KB_D
  bomb:
    - KB_X
  action:
    - KB_Z
  start:
   - KB_SPACE
1:
  up:
    - GP_0_UP
  down:
    - GP_0_DOWN
  left:
    - GP_0_LEFT
  right:
    - GP_0_RIGHT
  bomb:
    - GP_0_BUTTON_0
  action:
    - GP_0_BUTTON_1
  start:
   - GP_0_BUTTON_6
